.Toolbar {
    justify-content: space-between;
}

.DrawerContent {
    width: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.LogoMobile {
    margin-top: 10px;
}

.Typography {
    margin-left: 15px !important;
}