body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #717171;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: #FFFFFF;
  --background: #E5E5E5;
  --primary:#6EC1E4;
  --secondary: #54595F;
  --text-labels: #8E8E8E;
  --text: #555555;
  --links: gray;
  --button-active: #167ABC;
  --button-not-active: #F5F5F5;
  --borders: #00000033;
}